.aboutTournaments {
    margin-bottom: 4rem;
}

.title  {
    font-size: 4rem;
    margin: 2rem;
}

.hardCourt, .grassCourt, .clayCourt{
    display: flex;
    margin: 2rem;
    gap: 2rem;
    
}

.aboutTournaments img {
    max-width: 50%;
    border-radius: 2rem;
}

.aboutTournaments p {
    font-size: 1.6rem;
}
