.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo:visited {
    color: #D49C47;
}

.logoImage {
    max-width: 1.8rem;
    margin: 0.6rem;
}

.logoTitle {
    font-size: 1.2rem;
    font-weight: 600;
}

.header {
    display: flex;
    position: sticky;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    background-color: #e8e6da;
    box-shadow: 0 4px 8px rgba(0,0,0,.16);
    z-index: 1000;
}

.navigationList {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
}

.navigationLink {
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1rem;
}

.navigationLink:visited {
    color: black;
}